    <form action="save" method="POST">
        <p><input type="text" name="full"/>Nama Lengkap</p>
        <p><input type="text" name="user"/>Nama User</p>
        <p><input type="password" name="pass"/>Password</p>
        <p><input type="submit" value="Signup"/></p>
    </form>